body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Make sure the container takes the full height of the viewport */
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    max-height: 350px;
}

h3, h4 {
    margin: 10px 0;
}

button {
    padding: 10px;
    margin: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

a {
    color: #fff;
    text-decoration: none;
}

button:hover {
    background-color: #0056b3;
}
p {
    font-size: 20px; /* Set the font size to your preference */
    color: #333; /* Set the text color */
    margin-bottom: 10px; /* Add bottom margin for spacing */
    line-height: 1.5; /* Set the line height for better readability */
    font-family: initial;
}